* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.text-container {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.text-container .main-title {
  color: #f9f1e9;
  font-size: 12rem;
  font-weight: 500;
  letter-spacing: .1em;
}

.text-container .sub-title {
  color: #f9f1e9;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}

.text-container .btn {
  position: relative;
  display: block;
  text-decoration: none;
  width: 200px;
  padding: 6px 0;
  border-radius: 4px;
  font-size: 1.2rem;
  -webkit-transition: .33s all ease;
  transition: .33s all ease;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin: 30px auto;
}

.text-container .btn:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

@media (max-width: 1200px) {
  .text-container .main-title {
    font-size: 9rem;
  }

  .text-container .sub-title {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .text-container .main-title {
    font-size: 7.2rem;
  }

  .text-container .sub-title {
    font-size: 1.8rem;
  }
}
